.pomodoro {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.pomodoro>p {
  color: var(--text);
  text-align: center;
}