.header {
  background-color: var(--secondary);
  padding: 1em 2em;
  border-bottom: 2px solid var(--border-color);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  text-decoration: none;
  color: white;
}

.header-brand:hover {
  opacity: .9;
}

.header-brand:active {
  opacity: .95;
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
}

.nav-link:hover {
  opacity: .8;
}

.nav-link:active {
  color: white;
}