.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background-color: var(--text);
  width: 80%;
  max-width: 400px;
  height: 200px;
  border-radius: 1em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal p {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.modal button {
  padding: .3em 1em;
  margin: auto;
  display: block;
  color: inherit;
  font-size: 1.5rem;
  background-color: rgb(49, 214, 255);
  border-radius: .5em;
}

.modal button:hover {
  opacity: .8;
}

.modal button:active {
  opacity: .9;
}